extends layout

block content
  h1= title
  p Static site hosting... to begin, upload a zip file.

  input#fileupload(type='file', name='files[]', data-url='/upload', multiple='multiple')
  script
    $('#fileupload').fileupload({ dataType: 'json' })
    $('#fileupload').bind('fileuploadstop', function(e) {
      console.log(e);
    });
