extends layout

block content
  h1= title
  p Static site hosting... to begin, upload a zip file.

  form#fileupload(action='/upload', enctype='multipart/form-data', method='post')
    input#random(type='hidden', name='random', value='aweriuawerlu')
    input(type='file', name='files[]', multiple='multiple')
    input(type='submit')
